#usermodule_management_usergroupIcon_test{
	background-image: url(/images/icons/accept.png); 
	width: 17px;
	height:17px;
}

#usermodule_management_usergroupIcon_usermanagement{
	background-image: url(/images/icons/wrench.png); 
	width: 17px;
	height:17px;
}

#usermodule_verwaltung_usergroupIcon_riemen{
	background-image: url(/images/icons/user_add.png); 
	width: 17px;
	height:17px;
}

#usermodule_verwaltung_usergroupIcon_test{
	background-image: url(/images/icons/user_delete.png); 
	width: 17px;
	height:17px;
}


